{% autoescape off %}

 Hi,{{ user.username }}You have succesfully registered in Blossoms!  

Activate Your profile with the given link  to login !
Please click the link to activate your account .

http://{{domain}}{% url 'activate_mail' uid64=uid token=token %}

You won't be able to use all featuers if you don't confirm your account

Note:This link will  collaps within few hours , so please be quick .If the link expired , you can contact us anytime to activate your account </p>
Thank You!

Regards
TEAM BLOSSOMS

{% endautoescape %}